.portfolio__item {
  cursor: pointer;
  .inner {
    position: relative;

    img {
      width: 100%;
    }
    .overlay {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(17, 17, 17, 0.773);
      opacity: 0;
      transition: all 0.4s ease;
    }
  }
  &:hover,
  &:active,
  &:focus {
    .overlay {
      opacity: 1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}
