@use '../../styles/colors' as colors;

.portfolio-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__screenshot {
    width: 680px;
    height: 90vh;
    background-size: cover;
    background-position: top;
    transition: 10s ease;
    border-radius: 6px;

    &:hover {
      background-position: bottom;
    }
  }

  &__info {
    ul {
      columns: 2;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-content {
    display: block;
    overflow-y: scroll;
    padding: 80px 20px 20px;
    &__row {
      flex-direction: column-reverse;
    }
    &__screenshot {
      width: 100%;
      height: 400px;
    }

    &__info {
      margin-bottom: 50px;
      ul {
        columns: 1;
      }
    }
  }
}
