@use '../../styles/colors' as colors;
.portfolio__filters {
  button {
    font-weight: 600;
    -webkit-appearance: none;
    background: colors.$bgClear;
    color: colors.$white;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 5px;
    border: 0;

    &:active,
    &:focus {
      border: 0;
      outline: none;
    }

    &.active,
    &:hover {
      background-color: colors.$primary;
    }
  }
}
