$primary: #b03a2f;
$white: #eeee;
$gray: #e5e5e5;
$black: #2d2926;
$bgClear: rgba(255, 255, 255, 0.078);
$lightOrange: #f3aa4e;
$yellow: #ffcc00;
$blue: #6600cc;
$green: #00e696;
$teal: #008080;
$coral: #f49880;
$danger: #d40000;
