@use './colors' as colors;

$theme-colors: (
  'primary': colors.$primary,
);

$custom-colors: (
  'white': colors.$white,
  'gray': colors.$gray,
  'black': colors.$black,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../node_modules/bootstrap/scss/bootstrap';
