@use './colors' as colors;

$theme-colors: (
  'primary': colors.$primary,
);

$custom-colors: (
  'white': colors.$white,
  'gray': colors.$gray,
  'black': colors.$black,
  'light-orange': colors.$lightOrange,
  'yellow': colors.$yellow,
  'blue': colors.$blue,
  'green': colors.$green,
  'teal': colors.$teal,
  'coral': colors.$coral,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../node_modules/bootstrap/scss/bootstrap';
