@use './colors' as colors;
body {
  background-color: #040404;
  color: #ffff;
  position: relative;
  background: transparent;

  &::before {
    content: '';
    position: fixed;
    background: #040404 url('../images/bg.jpg') top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
}

// global style
.text-underline {
  color: #fff;
  padding-bottom: 6px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: colors.$primary;
  }
}

.bg-semi-transparent {
  background: colors.$bgClear;
}
