body {
  background-color: #040404;
  color: #ffff;
  position: relative;
  background: transparent;

  &::before { 
    content: '';
    position: fixed;
    background: #040404 url('../images/bg.jpg') top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
}

// global style
.text-underline {
  color: #fff;
  padding-bottom: 6px;
}

.bg-semi-transparent {
  background:rgba(255, 255, 255, 0.08);;
}