@use '../../styles/colors' as colors;
.about__skills {
  .bi {
    font-size: 60px;
  }
  p.text-muted {
    font-weight: 600;
    text-transform: uppercase;
  }
  .skill-card {
    text-align: center;

    &:hover {
      .bi,
      p {
        color: colors.$white !important;
      }
    }
  }
}
