nav.top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  a {
    color: inherit;
  }
  z-index: 999;
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      a {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
