.header-nav {
  ul {
    list-style-type: none;

    li {
      a {
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          height: 2px;
          width: 0;
          transition: width ease-in-out 0.4s;
          display: block;
          position: absolute;
        }
      }
      &:nth-child(1) {
        padding-left: 0 !important;
      }

      &.active,
      &:hover {
        a {
          &::after {
            width: 50%;
          }
        }
      }
    }
  }
}
