@use '../../assets/styles/colors' as colors;

.nav.center {
  .social-links {
    a {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
    .bi {
      color: colors.$white;
      font-size: 30px;

      &:hover {
        color: colors.$primary;
      }
    }
  }
}
