.nav.center {
  .social-links {
    a {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
    .bi {
      font-size: 30px;

      &:hover {

      }
    }
  }
}
