@use '../../styles/colors' as colors;
.nav {
  transition: 0.2s ease;
  align-items: center;
  height: 100vh;
  h1 {
    a {
      transition: 0.4s ease;
      text-decoration: none !important;
    }
  }
  .social-links {
    a {
      display: inline-block;
      color: colors.$white;
      background: rgba(255, 255, 255, 0.1);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;

      &:not(:first-child) {
        margin-left: 15px;
      }

      &:hover {
        background: colors.$primary;
      }
    }
    .bi {
      font-size: 20px;
    }
  }
}
nav.top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  padding: 10px 0;
  height: 80px;

  & > .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    a {
      font-size: 30px;
    }
  }
}

.mobile-nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  ul {
    flex-direction: column;
    border: 2px solid #9c9c9c;
    li {
      padding-left: 0 !important;
      a {
        padding-left: 20px !important;
        display: inline-block;
        font-size: 25px;
      }
    }
  }
}

.mobileNav-toggle {
  appearance: none;
  border: 0;
  background: transparent;
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
  .bi {
    font-size: 25px;
    color: colors.$white;
  }
}

@media (max-width: 768px) {
  .nav {
    .header-nav > .d-flex {
      flex-wrap: wrap;
      justify-content: center;
    }
    &:not(.top) {
      & > .container {
        background: colors.$bgClear;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
