@import '../../assets/styles/colors';
.header {
  display: flex;
  align-items: center;
  margin-top: 0;

  h1 {
    a {
      color: $white;
      font-weight: 700;
    }
  }

  p {
    font-size: 1.5625rem;
  }
}
