@import '../../assets/styles/colors';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  //   background: transparent;
}

// global style
.text-underline {
  color: #fff;
  border-bottom: 2px solid $primary;
  padding-bottom: 6px;
}
